<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>새글 등록</title>
</head>
<body th:align="center">
<h1>게시글 등록</h1>
<!-- 입력창 -->
<form th:action="insertBoard" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <th bgcolor="orange" th:text="제목" width="80"></th>
            <th th:align="left"><input name="title" type="text" size="50"/></th>
        </tr>

        <tr>
            <th bgcolor="orange" th:text="작성자"></th>
            <th th:align="left"><input name="writer" type="text" size="10"></th>
        </tr>

        <tr>
            <th bgcolor="orange" th:text="내용"></th>
            <th th:align="left"><textarea name="content" cols="50" rows="10"></textarea></th>
        </tr>

        <tr>
            <th colspan="2" align="center">
                <input type="submit" value="게시글 등록"/>
            </th>
        </tr>
    </table>
</form>
<br>
<a th:href="@{/getBoardList}">글 목록</a>
</body>
</html>